body {
    font-family: "Lucida Console", "Courier New", monospace;
}

#calculator {
    background-color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 30px 0 30px 0;
    border-radius: 5px;
}

#output {
    background-color: #a0a0a0;
    width: 92%;
    box-sizing: border-box;
    border: 6px solid #c0c0c0;
    border-radius: 5px;
    font-size: 40px;
    height: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#inputs {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    gap: 2%;
    color: white;
}
.symbol {
    text-align: center;
    background-color: #707070;
    color: white;
    font-size: 40px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
}

#division, #multiply, #subtract, #plus {
    background-color: skyblue;
}

#equals {
    background-color: #40c040;
}

#clear {
    background-color: #995050;
    width: calc(0.23*92%);
    margin-right: 4%;
    margin-left: auto;
    margin-top: 30px;
}